*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: black;
}


.page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page1>nav{
    height: 50px;
    width: 100vw;
    position: absolute;
    display: flex;
    pointer-events: all;
    justify-content: space-between;
    padding: 0px 50px;
    color:white;
    /* justify-content: center; */
    padding: 15px 10px;
}

#slide-img{
    width: 20vw;
    height: 50px;
    position: absolute;
    z-index:1;
    /* border-right: 3px ridge black; */
    color: white;
    border-radius: 100px;
    background-color:azure;
}
#slide-img>p{
    position:absolute;
    left: 65px;
    top: 17px;
    color: black;
    
}
.dp{
    height: 50px;
    width: 50px;
    border-radius: 100%; 
    /* border-right: 3px ridge black; */
}
#right-nav{
    align-items: flex-end;  
}

.page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.btn-nav{
    background: none;
    border: 1px ;
    color: white;
    border-radius: 80px;
    padding: 5px 15px;
}

.page1body{
    color: white;
    position: absolute;
    padding: 0px 30px;
    left: 13%;
    right: 13%;
    bottom: 45%;
}

.page1body>h1{
    font-size: 5vw;
    text-align: center;

}

.page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 10;
}
.page2body{
    position: absolute;
    padding: 0px 30px;
    left: 13%;
    right: 11%;
    bottom: 45%;
    top: 23vh;
    text-align: justify;
}
#heading{
    display: flex;
    align-items: center;
    color: white;
}

#para{
    color: rgba(190, 190, 190, 0.203);
}
.page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

.page3>canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

.page3body{
    position: absolute;
    padding: 0px 30px;
    left: 13%;
    right: 11%;
    bottom: 45%;
    top: 23vh;
    text-align: justify;
}


.page3-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #0a3bce14;
}
.page3-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}

#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100;
    margin-top: 28vh;
}


.percentage{
    color: white;
    position: absolute;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20vh;
    left:18.6vw;
    height:20px;
    font-size: 30px;
}


.progress{
    height:20px;
    /* margin-top:5px; */
    border-radius: 50px;
  }
  
  .green{
    background-color:rgb(0, 181, 0); 
    width:0px;
    
  }
  
  .white{
    background-color:rgba(255, 255, 255, 0.171);
    width:155px;
    
  }

  #progress{
    position: absolute;
    top: 33vh;
    left:8.35vw;
    height:20px;
    
  }

  #page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#page4>table{
    color: white;
    position: absolute;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 70vh;
    left:9.1vw;
    height:20px;
    width: 100vw;
    font-size: 30px;    
}


#page5>table{
    color: white;
    position: absolute;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 10vh;
    left:6.5vw;
    height:20px;
    width: 100vw;
    font-size: 30px;    
}


.space{
    justify-content: space-between;
    word-spacing: 2vw;
}


#more{
    color: white;
    position: absolute;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 70vh;
    left:67vw;
    height:20px;
    width: 100vw;
    font-size: 40px;    
    font-weight: bold;
    color: gray;
}


.bold{
    font-weight: bold;
}

#marks{
    font-weight: bold;
    color: aquamarine;
}

.centertext{
    color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20vh;
    left:0vw;
    height:20px;
    width: 100vw;
    font-size: 130px;
    text-shadow:
    -1px -1px 0 white,
     0   -1px 0 white,
     1px -1px 0 white,
     1px  0   0 white,
     1px  1px 0 white,
     0    1px 0 white,
    -1px  1px 0 white,
    -1px  0   0 white;
}

.centertext>span{
    color: rgba(255, 224, 191, 0.594);
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.skill{
    color: white;
    position: absolute;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 60vh;
    left:67vw;
    height:20px;
    width: 100vw;
    font-size: 20px;    
    font-weight: bold;
    justify-content: space-between;
    word-spacing: 5px;
}


#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#canvas2{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    z-index: 10;
}

